body {
    margin: 0;
    display: grid;
    grid-template-rows: auto 1fr auto auto;
    min-height: 100vh;
}

h1,
h3 {
    text-align: center;
}
h2{
    text-align: center;
    width: 100vw;
}
main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
}

.fotobox {
    text-align: center;
    max-width: 100vw;

}

.fotobox img {
    width: 100vw;
    object-fit: cover;
}

.fotobox div {
    text-align: center;
}

figure img {
    min-width: 300px;
    max-width: 100%;
    object-fit: cover;
}

footer {
    padding: .5em;
    text-align: center;
    position: relative;
    cursor: pointer;
    background-color: #444;
}

@media screen and (min-width: 800px) {
    body {
        max-width: 100vh;

    }

    main {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .fotobox {
        max-width: 100vw;
        text-align: center;
        align-items: center;
    }

    .fotobox img {
        width: 100vw;
        height: 65vh;
        object-fit: contain;
    }
}

@media screen and (min-width: 1040px) {
    main {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}